<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>6.0</string>
	<key>CFBundleDisplayName</key>
	<string>iGov</string>
	<key>CFBundleIdentifier</key>
	<string>iGov</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-60@2x.png</string>
		<string>Icon-16.png</string>
		<string>Icon-20.png</string>
		<string>Icon-29.png</string>
		<string>Icon-32.png</string>
		<string>Icon-40.png</string>
		<string>Icon-48.png</string>
		<string>Icon-50.png</string>
		<string>Icon-55.png</string>
		<string>Icon-57.png</string>
		<string>Icon-58.png</string>
		<string>Icon-60.png</string>
		<string>Icon-64.png</string>
		<string>Icon-72.png</string>
		<string>Icon-76.png</string>
		<string>Icon-80.png</string>
		<string>Icon-87.png</string>
		<string>Icon-88.png</string>
		<string>Icon-100.png</string>
		<string>Icon-114.png</string>
		<string>Icon-120.png</string>
		<string>Icon-128.png</string>
		<string>Icon-144.png</string>
		<string>Icon-152.png</string>
		<string>Icon-167.png</string>
		<string>Icon-172.png</string>
		<string>Icon-180.png</string>
		<string>Icon-196.png</string>
		<string>Icon-256.png</string>
		<string>Icon-512.png</string>
		<string>Icon-1024.png</string>
		<string>Icon-76@2x.png</string>
		<string>Default.png</string>
		<string>Default@2x.png</string>
		<string>Default-568h@2x.png</string>
		<string>Default-Portrait.png</string>
		<string>Default-Portrait@2x.png</string>
		<string>Icon-Small-40.png</string>
		<string>Icon-Small-40@2x.png</string>
		<string>Icon-Small.png</string>
		<string>Icon-Small@2x.png</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs access to location when open.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app needs access to location when in the background.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs access to location when open and in the background.</string>
	<key>UINavigationBar</key>
	<dict>
		<key>Style</key>
		<string>UIBarStyleDefault</string>
		<key>Translucent</key>
		<false/>
		<key>TintColor</key>
		<dict>
			<key>Red</key>
			<real>0.725490196078431</real>
			<key>Green</key>
			<real>0.819607843137255</real>
			<key>Blue</key>
			<real>0.917647058823529</real>
		</dict>
	</dict>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
</dict>
</plist>
